// Import Google fonts
@import url('https://fonts.googleapis.com/css?family=Nunito:400,700|Work+Sans:400,700&display=swap');

// Define fonts for body and headers
$body-font: "Inter", "Helvetica", "Arial", sans-serif;
$headers-font: "Inter", "Helvetica", "Arial", sans-serif;
$font-main: $body-font;

body {
  font-family: $font-main;
  background: $background;
  color: $text-primary;
}

h1, h2, h3, h4, h5, h6 {
  color: $text-primary;
  margin: 0;
}

p {
  color: $text-secondary;
  margin: 0;
}

h1 {
  font-size: 32px;
  font-weight: 800;
}

h2 {
  font-size: 24px;
  font-weight: 700;
}

h3 {
  font-size: 18px;
  font-weight: 700;
}

p {
  font-size: 14px;
  line-height: 1.5;
}
